*
analysis
analysis/*
!analysis/README.md
!config
!config/*
!resources
resources/*tax*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!dag.*
